#tabs
{
    margin-top:25px !important;
    background-color:#DBDBDB;
    padding:25px;
    box-sizing:border-box;
    
}
.nav-tabs
{
    border:none !important;
    width:40%;
    margin:auto
    
}
.nav-tabs a
{
  
    margin-left:25px;
    border:2px solid #808080 !important;
    font-size:18px;
    font-weight:bolder;
    color:#727272;
    border-radius:0 !important;
    padding :10px 15px !important
    


}
.nav-tabs a.active
{
    background-color:#EC3237 !important;
    border:none !important;
    color:#fff !important  ;
}
.tab-content .card
{
    
    box-shadow: 2px 2px 10px #223  ;
    border:none !important
}
.card
{
    position:relative;
}
.card .icon
{
    background-color:#222;
    width:25px;
    height:25px;
    border-radius: 50%;
    position:absolute;
    top:55%;
    left:45%;
    
}
.card .icon i
{
    color:#fff;
    padding:2px
}
.card .icon:hover 
{
    background-color:#EC3237
}